.navbar {
  display: flex;
  justify-content : space-between;
  align-items: center;
  background-color: #b30000;
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.navbar-logo {
  font-size: 38px;
  font-weight: bold;
  color:  white;

}
.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.navbar-links li a:hover {
  color: #ffcccc;
}
.btn-rdv {
  background-color: white;
  color: #b30000;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: bold;
}
.btn-rdv:hover {
  background-color: #ffcccc;
  color: #800000;
}
